In [1]:
import pandas as pd
import numpy as np

import plotly.express as px

# CO2 - pre 2001

In [2]:
df_co2_pre2001 = pd.read_csv('data/co2/coipcc800kyr-2001.csv')
df_co2_pre2001.head(3)

,Gasage (yr BP),co2 (ppmv),sigma mean CO2 (ppmv),Unnamed: 3,Unnamed: 4,year
0,-51.03,368.02,0.06,NaN,NaN,2001.03
1,-48.00,361.78,0.37,NaN,NaN,1998.00
2,-46.28,359.65,0.10,NaN,NaN,1996.28

In [3]:
df_co2_pre2001 = df_co2_pre2001.iloc[:, :2].copy()

In [4]:
df_co2_pre2001['year'] = (np.negative(df_co2_pre2001['Gasage (yr BP) '])
                          + 1950)

df_co2_pre2001.head(3)

   Gasage (yr BP)   co2 (ppmv)     year
0           -51.03      368.02  2001.03
1           -48.00      361.78  1998.00
2           -46.28      359.65  1996.28

# CO2 - Luthi

In [5]:
df_co2_luthi = pd.read_csv('data/co2/coluthi.csv')
df_co2_luthi.head(3)

   EDC3_gas_a (yr)  co2 (ppmv)
0              137       280.4
1              268       274.9
2              279       277.9

In [6]:
df_co2_luthi.rename(columns={'EDC3_gas_a (yr)': 'Gasage (yr BP) ',
                            'CO2 (ppmv)': 'CO2 (ppmv) Luthi'}, 
                    inplace=True)

In [7]:
df_co2_luthi.head(3)

   Gasage (yr BP)   co2 (ppmv)
0              137       280.4
1              268       274.9
2              279       277.9

# CO2 - 2001 to 2022

In [8]:
df_co2_post2001 = pd.read_csv('data/co2/conoaa1979-2022.csv', skiprows=37)
df_co2_post2001.head(3)

   year    mean   unc
0  1979  336.85  0.11
1  1980  338.91  0.07
2  1981  340.11  0.09

In [9]:
df_co2_post2001 = df_co2_post2001.iloc[:, :2].copy()
df_co2_post2001.rename(columns={'mean': 'CO2 (ppmv)'}, inplace=True)
df_co2_post2001.head(3)

   year  CO2 (ppmv)
0  1979      336.85
1  1980      338.91
2  1981      340.11

# CO2 all combined

In [10]:
df_co2_all = pd.concat([
    df_co2_pre2001, df_co2_post2001, df_co2_luthi
])

In [11]:
df_co2_all

      Gasage (yr BP)   co2 (ppmv)     year  CO2 (ppmv)
0              -51.03      368.02  2001.03         NaN
1              -48.00      361.78  1998.00         NaN
2              -46.28      359.65  1996.28         NaN
3              -44.41      357.11  1994.41         NaN
4              -43.08      353.95  1993.08         NaN
...               ...         ...      ...         ...
1091        794608.00      199.40      NaN         NaN
1092        795202.00      195.20      NaN         NaN
1093        796467.00      189.30      NaN         NaN
1094        797099.00      188.40      NaN         NaN
1095        798512.00      191.00      NaN         NaN

[3041 rows x 4 columns]

In [12]:
df_co2_all['year'] = np.where(df_co2_all['year'].isna(), 
                            np.negative(df_co2_all['Gasage (yr BP) ']) + 1950, 
                            df_co2_all['year'])

df_co2_all['Gasage (yr BP) ']= np.where(df_co2_all['Gasage (yr BP) '].isna(), 
         1950 - df_co2_all['year'], df_co2_all['Gasage (yr BP) '])

In [13]:
px.scatter(df_co2_all.sort_values('year', ascending=True), 
        x='Gasage (yr BP) ', 
        y=['CO2 (ppmv)', 'CO2 (ppmv) Luthi'], 
        width=1200,
        )

ValueError: All arguments should have the same length. The length of argument `y` is 2, whereas the length of  previously-processed arguments ['Gasage (yr BP) '] is 3041

# Temp pre2000

tempjouzelaicc2000-800kyr: Get EDC3béta, AICC2012 and temp columns 

oritempjouzelaicc2000-800kyr: get age, deuterium (convert to celcius), temp (temperature difference from the average of the last 1000 years)

The formula for converting Kelvin to Celsius is C = K - 273.15

oritempglobalanomnoaa1850-2022: get year, act temp, anomaly


find baseline/is there a constant from jouzel to get the noaa anomaly
subtract one graph from anlother

In [ ]:
df_temp = pd.read_csv('data/at/tempjouzelaicc2005-800kyr.csv')

In [ ]:
df_temp.head(3)

In [ ]:
df_temp['temp c'] = df_temp['temp k'] - 273.15

In [ ]:
df_temp['edc year'] = (np.negative(df_temp['EDC3béta'])
                          + 1950)

df_temp['aicc year'] = (np.negative(df_temp['AICC2012'])
                          + 1950)

In [ ]:
px.scatter(df_temp, x=['edc year', 'aicc year'], y='temp c')

In [ ]:
df_temp.sort_values(['edc year', 'aicc year'], inplace=True)
#df_temp.columns

In [ ]:
df_temp.tail(10)

In [ ]:
#np.negative(df_temp.sort_values('aicc year')['aicc year'])+1950
df_temp['aicc year'].tail(20)

In [ ]:
#pd.DateOffset.
#df_temp.

In [ ]:
df_temp['temp c rolling mean 1000'] = df_temp.rolling(1000)['temp c'].mean()

In [ ]:
#pd.to_datetime(df_temp['aicc year'], format='mixed')
#pd.to_timedelta(df_temp['aicc year'], unit='Y')

In [ ]:
df_co2_all['year'].describe()

In [ ]:
df_temp['aicc year'].describe()

In [ ]:
df_temp.head(20)

In [ ]:
df_temp.to_csv('jouzaiccrollmean.csv')