# Project 2 Programming for Data Analysis Winter 2023 

**Author: Nur Bujang**

project2.ipynb
***

### Project Instruction:

> Analyse CO2 vs Temperature Anomaly from 800kyrs – present.

> Examine one other (paleo/modern) features (e.g. CH4 or polar ice-coverage)

> Examine Irish context:

    > Climate change signals: (see Maynooth study: The emergence of a climate change signal in long-term Irish meteorological observations - ScienceDirect)

> Fuse and analyse data from various data sources and format fused data set as a pandas dataframe and export to csv and json formats

> For all of the above variables, analyse the data, the trends and the relationships between them (temporal leads/lags/frequency analysis).

> Predict global temperature anomaly over next few decades (synthesise data) and compare to published climate models if atmospheric CO2 trends continue

> Comment on accelerated warming based on very latest features (e.g. temperature/polar-ice-coverage)

# Project Title: 

## **An Analysis Of Paleo-Present Climate Data**

## Abstract

## 1.0 Background

### 1.1 Climate Change

Climate is characterized by long-term patterns in temperature, humidity, winds, rainfall and extreme weather frequency. Climate change refers to significant and persistent changes in the local, regional and global climate pattern (NASA, 2023b). According to United Nations (2023) and NASA (2023a), the impacts of climate change include rising sea levels, catastrophic and frequent floods and droughts and melting polar ice. 

### 1.2 Global Warming
Global warming is a specific aspect of climate change defined by the abnormally-accelerated increase in Earth's average surface temperature due to human activity (Riebeek, 2010). This surface temperature increase has been observed since the pre-industrial period, mostly due to greenhouse gasses from fossil fuel burning (NASA, 2023b). According to United States Environmental Protection Agency (2017), examples of greenhouse gases include carbon dioxide(CO<sub>2</sub>), nitrous oxide(N<sub>2</sub>O), methane (CH<sub>4</sub>) and sulfur hexafluoride (SF<sub>6</sub>).

### 1.3 Links Between CO<sub>2</sub>, Temperature, CH<sub>4</sub> And Precipitation In Climate Change

The interrelationships between atmospheric carbon dioxide (CO2), methane (CH4), temperature, and precipitation is intricate and play a vital role in the complex system of climate change. The greenhouse gases (CO<sub>2</sub> and CH<sub>4</sub>) trap heat in the Earth's atmosphere by absorbing and re-emitting infrared radiation back toward Earth's surface (www.ces.fau.edu, n.d.). This Greenhouse Effect results in a rise in average global temperatures, impacting various components of the Earth's climate system. 

These warmer temperatures affect the atmospheric circulation and moisture patterns through intensification of the water cycle where warmer air holds more moisture (Wikipedia, 2023). This shifts in rainfall and precipitation distribution patterns leads to intense and frequent extreme weather events, such as heavy rainfall, storms, heatwaves and droughts (Understanding Global Change, n.d., Dore, 2005, www.eea.europa.eu, n.d.).

Changes in temperature and precipitation can also create an ice-albedo feedback, where the reduction Earth's albedo (reflectivity) from ice and snow melt caused by warmer temperatures leads to more absorption of solar radiation, thus further warming the planet (CIRES Education and Outreach at CU Boulder, n.d.).

#### 1.3.1 Atmospheric CO<sub>2</sub>

According to Berner (1991), atmospheric CO<sub>2</sub> dictates the world climate on geological time magnitude. Results from ice-core data show that atmospheric CO<sub>2</sub> concentrations were significantly lower between 650kyr and 750kyr compared to the present day (Lüthi et al., 2008). A few years later, Bereiter et al. (2015) followed up with a corrected 442–816kyr portion of the EPICA Dome C CO<sub>2</sub> data.

According to Hertzberg and Schreuder (2016), there has been a steady increase in the average atmospheric CO<sub>2</sub> concentration from 280ppmv to 400ppmv over the last two centuries. Data from atmospheric CO<sub>2</sub> concentration collected at  at Mauna Loa Observatory, Hawaii shows a linear trend from 315ppm in 1959 to 425ppm in 2022 (NOAA, 2023).

#### 1.3.2 Temperature

Results from high-resolution deuterium measurements of ice core data show that based on 100-year mean values over the past 800kyr, surface temperature increased ~15°C (Jouzel et al., 2007). Parrenin et al. (2013) found that atmospheric CO<sub>2</sub> and surface air temperature move synchronously for most part from 800kyr to the present time eventhough Fischer et al. (1999), Monnin et al. (2001) and Lourantou et al. (2010) reported that atmospheric CO<sub>2</sub> lags behind temperature by a few hundred years. However, Hertzberg and Schreuder (2016) noticed that temperature changes always precedes atmospheric CO<sub>2</sub> changes by several hundred to a thousand years, thus suggesting that temperature change causes CO<sub>2</sub>, and not vice versa. 

Chen et al. (2023) reported a correlation between atmospheric CO<sub>2</sub> and temperature. Earlier, Kang and Larsson (2013) reported a feedback system where temperature and CO<sub>2</sub> Granger-cause each other in both directions.

#### 1.3.3 Atmospheric CH<sub>4</sub>

Petit et al. (1999) reported that CO<sub>2</sub> and CH<sub>4</sub> concentrations follow the same trend for each glacial cycle. Monnin et al. (2001) reported that eventough the reasons behind CH<sub>4</sub> concentrations variations are different from CO<sub>2</sub>, in general, CO<sub>2</sub> and CH<sub>4</sub> increase are parallel with each other. There is also a high correlation between temperature and CH<sub>4</sub> in the past (Spahni et al., 2005). Using Granger causality analysis, temperature, CO<sub>2</sub> and CH<sub>4</sub> bidirectionally Granger-cause each other, where one's increase causes an increase in the other in a feedback system (Larsson and Persson, 2023).

#### 1.3.4 Irish Precipitation

An analysis of a homogenized Island of Ireland Precipitation (IIP) data from 1850–2010 to study long-term rainfall series in Ireland found an increasing pattern or upward trend in the amount of precipitation (rainfall or snowfall) during the winter months, while a negative or decreasing pattern was found in the amount of precipitation during the summer months (Noone et al., 2015). 

Long-term air temperature series data for Ireland between 1831-1968 was reconstructed by Mateus, Potito and Curley (2020) and between 1885–2018 (Mateus and Potito, 2021). Subsequent analysis between 1885 to 2018 found significant air temperature increase in all seasons, especially spring and autumn and significant air temperature decrease during cold days, cold nights and frost days (Mateus and Potito, 2022).

Later, Murphy et al. (2023a) found that Dublin-based stations show a maximum increase of 1.14°C in the annual mean temperature for every 1°C increase in the global mean surface temperature and increase in extremely heavy rainfall were recorded for 30% of stations. Such temperature increase would result in higher a risk of river and groundwater flooding in Ireland (Murphy et al., 2023b).

## 2.0 Methods and Implementation

### 2.1 CO<sub>2</sub> vs Temperature Anomaly From 800kyrs – Present

In [1]:
import pandas as pd

In [ ]:
coipcc = pd.read_excel('data/coipcc.xls')
coipcc.tail(30)

In [2]:
coluthi = pd.read_excel('data/coluthi.xls')
coluthi.head(30)

,Dome C (611-800 kyr BP),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Lüthi et al. (sub),NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Bern,NaN,NaN,NaN,LGGE in Grenoble,NaN,NaN
5,Depth (m),EDC3_gas_a (yr),CO2 (ppmv),sigma (ppmv),Depth (m),EDC3_gas_a (yr),CO2 (ppmv)
6,3026.58,611269,257.8,2.1,3061.71,667435,178.5
7,3030.97,616164,252.6,0.6,3063.98,670124,189
8,3036.44,623109,243.3,2.8,3085.78,688035,234
9,3040.87,630183,204.4,0.9,3086.88,688751,235.4
10,3043.07,635364,195,1.5,3087.98,689444,241
11,3055.18,658404,187.5,1.8,3089.08,690155,235
12,3056.25,659983,185.6,1.1,3091.28,691524,235.9
13,3057.36,661563,192.1,1,3093.48,692857,236.3
14,3058.47,663133,192,2.1,3120.01,715603,223.8
15,3059.55,664597,190.6,1.3,3122.2,718581,190.2
16,3060.33,665645,178.2,1.1,3124.41,721870,217
17,3060.73,666174,178.5,1.1,3128.68,727458,203.7
18,3061.36,666995,172.7,1,3133.08,732300,210.7
19,3061.82,667569,171.6,1.4,3135.28,734408,209.6
20,3062.53,668447,175.6,0.7,3141.82,739986,198
21,3062.93,668934,178.5,0.7,3146.37,744681,185.2
22,3063.64,669751,185.5,0.2,3150.68,749152,188.8
23,3064.02,670176,189.3,0.9,3152.88,751552,193.8
24,3064.76,670916,192.6,1,3155.08,754124,197.3
25,3065.12,671286,194.6,0.7,3156.18,755354,203.4
26,3065.76,671926,192.5,0.6,3157.28,756605,214.4
27,3066.22,672386,194.8,1,3158.38,757805,225.5
28,3066.93,673095,198.7,1,3159.48,759027,216.6
29,3067.33,673475,202.3,0.7,3160.58,760338,214.9

In [4]:
tempjouzel = pd.read_excel('data/tempjouzel.xls')
tempjouzel.tail(30)

       bag     ztop  EDC3béta     AICC2012  deutfinal   temp  acc-EDC3beta
5789  5790  3183.95  795777.1  792750.0000     -414.0  214.0         2.038
5790  5791  3184.50  796391.3  793417.0000     -418.6  213.2         1.898
5791  5792  3185.05  797050.9  794190.6667     -421.8  212.7         1.805
5792  5793  3185.60  797744.7  794964.3333     -423.5  212.5         1.758
5793  5794  3186.15  798456.8  795738.0000     -427.1  211.9         1.659
5794  5795  3186.70  799211.9  796644.3333     -432.0  211.1         1.535
5795  5796  3187.25  800028.2  797550.6667     -437.3  210.2         1.408
5796  5797  3187.80  800918.2  798457.0000     -439.0  209.9         1.370
5797  5798  3188.35  801833.2  799500.6667     -441.1  209.6         1.324
5798  5799  3188.90  802779.6  800544.3333     -440.6  209.6         1.335
5799  5800  3189.45  803718.9  801588.0000     -440.9  209.6         1.329
5800  5801  3190.00  804662.5  802636.6667     -438.7  210.0         1.376
5801  5802  3190.55  805574.1  803685.3333     -440.7  209.6         1.333
5802  5803  3191.10  806515.2  804734.0000     -440.1  209.7         1.345
5803  5804  3191.65  807447.6  805803.0000     -442.5  209.3         1.295
5804  5805  3192.20  808416.7  806872.0000     -440.1  209.7         1.347
5805  5806  3192.75  809348.4  807941.0000     -434.5  210.7         1.470
5806  5807  3193.30  810202.4  809010.0000     -436.7  210.3         1.422
5807  5808  3193.85  811085.2  810079.0000     -435.4  210.5         1.452
5808  5809  3194.40  811949.6  811148.0000     -433.1  210.9         1.506
5809  5810  3194.95  812783.5  812217.0000     -432.4  211.0         1.524
5810  5811  3195.50  813607.6  813286.0000     -431.7  211.1         1.541
5811  5812  3196.05  814422.8  814355.0000     -431.0  211.2         1.558
5812  5813  3196.60  815229.1  815424.0000     -431.2  211.2         1.553
5813  5814  3197.15  816037.8  816493.0000     -433.1  210.9         1.507
5814  5815  3197.70  816871.6  817562.0000     -432.2  211.0         1.529
5815  5816  3198.25  817693.6  818631.0000     -431.4  211.2         1.548
5816  5817  3198.80  818505.5  819700.0000     -430.3  211.3         1.576
5817  5818  3199.35  819303.1  820769.0000     -429.8  211.4         1.589
5818  5819  3199.90  820093.9  821838.0000     -430.0  211.4         1.583

In [3]:
tempnoaa = pd.read_csv('data/tempnoaadomec.txt')
tempnoaa.tail(30)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

### 2.2 CH<sub>4</sub> Anomaly From 800kyrs – Present

Data was compiled from and Lan, Thoning and Dlugokencky (2023).

### 2.3 Irish Context: Precipitation

Temperature data was compiled from Mateus (2021), Mateus and Potito (2021), Mateus, Potito and Curley (2020a), Mateus, Potito and Curley (2020b) for 1831-1968 and Met Eireann (2019) for 1969-2023 at Dublin Airport.

Precipitation data was retrieved from Murphy et al. (2018a,b) for 1711–2016 and Met Eireann (2019) for 2017-2023 at Dublin Airport.

### 2.4 Data Fusion To csv And json

### 2.5 Analysis Of CO<sub>2</sub>, Temperature, CH<sub>4</sub> and Precipitation

### 2.6 Global Temperature Anomaly Prediction

### 2.7 Accelerated Warming

## 4.0 Conclusions

## 5.0 References

In [ ]:
***

## End of Project 2

https://www.climate.gov/news-features/understanding-climate/climate-change-atmospheric-carbon-dioxide

https://theconversation.com/the-three-minute-story-of-800-000-years-of-climate-change-with-a-sting-in-the-tail-73368

https://www.researchgate.net/publication/340121184_Forty_years_of_ice-core_records_of_CO2

https://www.beyondepica.eu/en/

https://doi.pangaea.de/10.1594/PANGAEA.710901

better Co2 data than this: https://www.ncei.noaa.gov/pub/data/paleo/icecore/antarctica/antarctica2015co2composite.txt

better temp data than this: https://www.pangaea.de/?q=temperature+anomaly+ice+core

Carbon dioxide pumphandle - 2022: https://www.youtube.com/watch?v=gbxEsG8g6BA

Co2, CH4, N2o, SF6: https://gml.noaa.gov/ccgg/trends/data.html

methane 800kyr: https://www.ncei.noaa.gov/access/paleo-search/?dataTypeId=7

1. merge ice core x Mauna Loa data for temp and co2 from 800kyrs to now- some will hv time overlap, look at how the composite record from both these experiments was formed, overlay all the graphs, some will have time overlap. overlay them all on the same axis, with the composite, how did they decide with overlapping years, which one to take? and how much agreement between all diff datasets, what temporal overlap in time between them all? - RECREATE THE GRAPH FROM coluthi.xlx 80kyr of CO2 (data is from coluthi Vostok-TD-DomeC tab). temp is from 

beware of temp unit. 41586_2008_BFnature06949_MOESM31_ESM, Jouzel's data (epicaDC.deutemp.EDC3-AICC), 191.8 VS186ya, temp in kelvin - SO how did they get the temp anomaly? was all these expressed in Celcius, and these are averages calculated over the entire period or what's the offset to change 218.3 (absolute temp in kelvin in deuttemp) to 0.88, 1.84 (temp anomaly in BFnature) for year 38,46 in BFnature datafile? how was that transformation done?

other feature: ncei.noaa.gov/products/paleoclimatology, ncei.noaa.gov/access/paleo-search, CH4 https://euanmearns.com/the-vostok-ice-core-temperature-co2-and-ch4  or sea ice https://nsidc.org/data/seaice_index, https://www.climate.gov/news-features/event-tracker/2023-antarctic-sea-ice-winter-maximum-lowest-record-wide-margin 2023 record low, way outside std, how many std from mean is it out, estimate how much of a fluke it is VS https://earth.gsfc.nasa.gov/cryo/data/arcticantarctic-sea-ice-time-series or total solar irradiance (look in paleo)

in Irish context: https://www.rte.ie/brainstorm/2023/1020/1412054-human-induced-climate-change-irish-weather/, https://www.maynoothuniversity.ie/icarus/news/icarus-research-identifies-climate-change-weather-records-0 temp and precipitation data from long-term trends in daily extreme air temperature indices in ireland from 1885 to 2018 https://www.sciencedirect.com/science/article/pii/S2212094722000469- https:www.met.ie/climate/available-data/long-term-data-sets/ reproduce some of the analysis in Murphy paper

relationship between all variables-correlation, does one lead/lag to the other, 

Just for temp: linear regression - predict global temp anomaly over next few decases, synthesise data and compare to published climate models if atmospheric CO2 trends continue

Analysis:

traditionalist vs accelerationists- https://twitter.com/ryankatzrosene/status/1710108929789759812 look back at source data and see with CO2, esp temp, are we seeing linear/nonlinear increase ? Mann: warming is linear, but effects from warming is not. https://edition.cnn.com/2023/11/20/climate/2-degree-warming-limit-record-copernicus-climate-int/index.html, 

comment: are the data that u see outside of normal noise or within? if outside, there's a signal happening in data, not just some random effects of noise

***

CO2 data from Luthi et al. 2008: https://static-content.springer.com/esm/art%3A10.1038%2Fnature06949/MediaObjects/41586_2008_BFnature06949_MOESM31_ESM.xls

CO2 data from IPCC: paper: https://www.ipcc.ch/report/ar6/wg1/downloads/report/IPCC_AR6_WGI_Chapter01_SM.pdf
                data: https://agupubs.onlinelibrary.wiley.com/action/downloadSupplement?doi=10.1002%2F2014GL061957&file=grl52461-sup-0003-supplementary.xls

Temp Jouzel - epicaDC.deuttemp.EDC3-AICC: https://vlegalwaymayo.atu.ie/pluginfile.php/1171393/mod_resource/content/0/epicaDC.deuttemp.EDC3-AICC.xls

Temperature Data from NOAA: https://www.ncei.noaa.gov/access/paleo-search/study/6080

Irish Datasets: https://www.met.ie/climate/available-data/long-term-data-sets/